//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 08 19:11:52 2020
//! **************************************************************************

SCHEMATIC START;
COMP "common1_P43" LOCATE = SITE "P43" LEVEL 1;
COMP "d_P34" LOCATE = SITE "P34" LEVEL 1;
COMP "common2_P33" LOCATE = SITE "P33" LEVEL 1;
COMP "e_P32" LOCATE = SITE "P32" LEVEL 1;
COMP "common3_P30" LOCATE = SITE "P30" LEVEL 1;
COMP "C_L2_P80" LOCATE = SITE "P80" LEVEL 1;
COMP "f_P29" LOCATE = SITE "P29" LEVEL 1;
COMP "g_P27" LOCATE = SITE "P27" LEVEL 1;
COMP "A_L0_P82" LOCATE = SITE "P82" LEVEL 1;
COMP "a_P41" LOCATE = SITE "P41" LEVEL 1;
COMP "PB1_P45" LOCATE = SITE "P45" LEVEL 1;
COMP "b_P40" LOCATE = SITE "P40" LEVEL 1;
COMP "c_P35" LOCATE = SITE "P35" LEVEL 1;
COMP "p_P26" LOCATE = SITE "P26" LEVEL 1;
COMP "B_L1_P81" LOCATE = SITE "P81" LEVEL 1;
SCHEMATIC END;

