//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 29 10:32:19 2020
//! **************************************************************************

SCHEMATIC START;
COMP "SEG_E_P32" LOCATE = SITE "P32" LEVEL 1;
COMP "DIP8_P99" LOCATE = SITE "P99" LEVEL 1;
COMP "SW0_P66" LOCATE = SITE "P66" LEVEL 1;
COMP "COMMON0_P44" LOCATE = SITE "P44" LEVEL 1;
COMP "DIP5_P102" LOCATE = SITE "P102" LEVEL 1;
COMP "SW7_P55" LOCATE = SITE "P55" LEVEL 1;
COMP "SW1_P62" LOCATE = SITE "P62" LEVEL 1;
COMP "DIP2_P111" LOCATE = SITE "P111" LEVEL 1;
COMP "SEG_F_P29" LOCATE = SITE "P29" LEVEL 1;
COMP "COMMON1_P43" LOCATE = SITE "P43" LEVEL 1;
COMP "SW2_P61" LOCATE = SITE "P61" LEVEL 1;
COMP "SEG_G_P27" LOCATE = SITE "P27" LEVEL 1;
COMP "SEG_A_P41" LOCATE = SITE "P41" LEVEL 1;
COMP "COMMON2_P33" LOCATE = SITE "P33" LEVEL 1;
COMP "DIP6_P101" LOCATE = SITE "P101" LEVEL 1;
COMP "DIP3_P105" LOCATE = SITE "P105" LEVEL 1;
COMP "COMMON3_P30" LOCATE = SITE "P30" LEVEL 1;
COMP "SW3_P59" LOCATE = SITE "P59" LEVEL 1;
COMP "SEG_B_P40" LOCATE = SITE "P40" LEVEL 1;
COMP "BUZZ_P83" LOCATE = SITE "P83" LEVEL 1;
COMP "CLK_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "SW4_P58" LOCATE = SITE "P58" LEVEL 1;
COMP "DIP7_P100" LOCATE = SITE "P100" LEVEL 1;
COMP "SEG_C_P35" LOCATE = SITE "P35" LEVEL 1;
COMP "DIP4_P104" LOCATE = SITE "P104" LEVEL 1;
COMP "SW5_P57" LOCATE = SITE "P57" LEVEL 1;
COMP "DIP1_P112" LOCATE = SITE "P112" LEVEL 1;
COMP "SEG_D_P34" LOCATE = SITE "P34" LEVEL 1;
COMP "SW6_P56" LOCATE = SITE "P56" LEVEL 1;
SCHEMATIC END;

