//! **************************************************************************
// Written by: Map P.20131013 on Thu Nov 05 03:15:42 2020
//! **************************************************************************

SCHEMATIC START;
COMP "DIP<5>" LOCATE = SITE "P105" LEVEL 1;
COMP "DIP<6>" LOCATE = SITE "P111" LEVEL 1;
COMP "DIP<7>" LOCATE = SITE "P112" LEVEL 1;
COMP "COMMON3_P30" LOCATE = SITE "P30" LEVEL 1;
COMP "SEG_B_P40" LOCATE = SITE "P40" LEVEL 1;
COMP "CLK_P123" LOCATE = SITE "P123" LEVEL 1;
COMP "SEG_C_P35" LOCATE = SITE "P35" LEVEL 1;
COMP "SEG_D_P34" LOCATE = SITE "P34" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "SEG_E_P32" LOCATE = SITE "P32" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "COMMON0_P44" LOCATE = SITE "P44" LEVEL 1;
COMP "ModeSel<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "ModeSel<1>" LOCATE = SITE "P81" LEVEL 1;
COMP "SEG_F_P29" LOCATE = SITE "P29" LEVEL 1;
COMP "COMMON1_P43" LOCATE = SITE "P43" LEVEL 1;
COMP "SEG_G_P27" LOCATE = SITE "P27" LEVEL 1;
COMP "DIP<0>" LOCATE = SITE "P99" LEVEL 1;
COMP "DIP<1>" LOCATE = SITE "P100" LEVEL 1;
COMP "SEG_A_P41" LOCATE = SITE "P41" LEVEL 1;
COMP "COMMON2_P33" LOCATE = SITE "P33" LEVEL 1;
COMP "DIP<2>" LOCATE = SITE "P101" LEVEL 1;
COMP "DIP<3>" LOCATE = SITE "P102" LEVEL 1;
COMP "DIP<4>" LOCATE = SITE "P104" LEVEL 1;
COMP "MODE_SW_P45" LOCATE = SITE "P45" LEVEL 1;
PIN MODE_SW_P45_pin<0> = BEL "MODE_SW_P45" PINNAME PAD;
PIN "MODE_SW_P45_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

