NET "CLK_P123" LOC = P123;
NET "COMMON0_P44" LOC = P44;
NET "COMMON1_P43" LOC = P43;
NET "COMMON2_P33" LOC = P33;
NET "COMMON3_P30" LOC = P30;
NET "SEG_A_P41" LOC = P41;
NET "SEG_B_P40" LOC = P40;
NET "SEG_C_P35" LOC = P35;
NET "SEG_D_P34" LOC = P34;
NET "SEG_E_P32" LOC = P32;
NET "SEG_F_P29" LOC = P29;
NET "SEG_G_P27" LOC = P27;

NET "DIP[0]" LOC = P99;
NET "DIP[1]" LOC = P100;
NET "DIP[2]" LOC = P101;
NET "DIP[3]" LOC = P102;
NET "DIP[5]" LOC = P105;
NET "DIP[6]" LOC = P111;
NET "DIP[7]" LOC = P112;
NET "DIP[4]" LOC = P104;
NET "SW[7]" LOC = P55;
NET "SW[6]" LOC = P56;
NET "SW[5]" LOC = P57;
NET "SW[4]" LOC = P58;
NET "SW[3]" LOC = P59;
NET "SW[2]" LOC = P61;
NET "SW[1]" LOC = P62;
NET "SW[0]" LOC = P66;
NET "MODE_SW_P45" LOC = P45;
NET "MODE_SW_P45" CLOCK_DEDICATED_ROUTE = FALSE;

# PlanAhead Generated physical constraints 

NET "ModeSel[0]" LOC = P82;
NET "ModeSel[1]" LOC = P81;
